# rsync -avn . /dev/shm --exclude-from .dockerignore 
.pixi/envs
.pixi/solve-group-envs
src/{{ cookiecutter.project_slug }}/code_location_{{ cookiecutter.project_slug }}_dbt/dbt_packages
.dockerignore
.env
Dockerfile
node_modules/
z_state
.dockerignore
.env.enc
.gitignore
Dockerfile
README.md
docker-compose.yml
.vscode/
Makefile
.pytest_cache/
.ruff_cache/
**/__pycache__/
**/*.egg-info/
**/.gitkeep
**/.user.yml
**/logs/
**/target/
**/*.duckdb
